<ion-header [translucent]="false">
    <ion-toolbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" dir="rtl" center text-center>
    <ion-grid center>
        <ion-row justify-content-center align-items-center>
            <ion-col>
                <h1>
                    أدخل رمز التأكيد
                    <span class="redUnderline"></span>
                </h1>
                <div class="phoneForm" dir="ltr">
                    <div dir="rtl">
                        <span class="title">يرجى ادخال رمز التفعيل المؤقت</span>
                    </div>
                    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
                    <ion-button (click)="next()"> تأكيد </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>