ion-menu-button {
    color: var(--ion-color-primary);
}

ion-header {
    ion-toolbar {
        --border-width: 0;
        div.toolbar-background {
            background: inherit;
            border-bottom: 0 !important;
            --border: 0;
        }
        ion-icon {
            color: red;
        }
        ion-title.title-default {
            div.titleDiv {
                display: flex;
                align-items: center;
                span {
                    font-size: 1.12em;
                }
            }
        }
        ion-buttons {
            ion-button.custom {
                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
}

ion-content {
    font-size: 16px;
    font-family: Helvetica Neue LT Arabic 55 Roman;
    ion-grid.grid {
        padding: 0;
    }
    ion-button.searchBtn {
        margin: 12px 16px;
        width: 100%;
        height: 60px;
        font-size: 1.12em;
        --background: #efefef;
        --color: #afafaf;
        --padding: 0;
        --border-radius: 24px;
        --box-shadow: none;
        span {
            width: 100%;
            padding-right: 32px;
            justify-content: flex-end;
        }
    }
    ion-icon.suffix-icon {
        position: absolute;
        right: 0;
        color: black;
        font-size: 32px;
    }
    div.statusBar {
        margin: 8px 16px 16px;
        span {
            font-size: 1.12em;
            cursor: pointer;
        }
    }
    div.title {
        margin: 0 16px;
        width: 100%;
        h1 {
            width: 100%;
            margin: 0;
        }
        div.redUnderline {
            border-top: 4px solid red;
            width: 48px;
            position: absolute;
            right: 16px;
        }
    }
    ion-card {
        border-radius: 24px;
        div.cardContent {
            width: 100%;
            position: absolute;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
            color: white;
            padding: 0 16px 8px;
            ion-icon {
                background-color: white;
                border-radius: 50%;
                font-size: 1em;
                color: black;
                position: absolute;
                left: 16px;
                bottom: 8px;
            }
            p {
                font-size: 0.93em;
            }
        }
    }
}