ion-menu-button {
    color: var(--ion-color-primary);
}

ion-header {
    ion-toolbar {
        --border-width: 0;
        div.toolbar-background {
            background: inherit;
            border-bottom: 0 !important;
            --border: 0;
        }
        ion-icon {
            color: red;
        }
        ion-title.title-default {
            div.titleDiv {
                display: flex;
                align-items: center;
                span {
                    font-size: 1.12em;
                }
            }
        }
        ion-buttons {
            ion-button.custom {
                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
}

ion-content {
    font-size: 16px;
    font-family: Helvetica Neue LT Arabic 55 Roman;
    div.title {
        margin: 8px 16px 0;
        width: 100%;
        h1 {
            width: 100%;
            margin: 0;
        }
        div.redUnderline {
            border-top: 4px solid red;
            width: 48px;
            position: absolute;
            right: 16px;
        }
    }
}