<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src="assets/imgs/icons/menu.png">
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div class="titleDiv">
                <img src="assets/imgs/icons/location.png">
                <span> الدحيل، شارع أم الح..</span>
            </div>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="custom">
                <img src="assets/imgs/icons/user.png">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" dir="rtl">
    <ion-grid>
        <ion-row>
            <ion-button class="searchBtn">
                <span>ابحث عن مطعم، وجبة، خروف</span>
                <ion-icon class="suffix-icon" name="search-outline"></ion-icon>
            </ion-button>
        </ion-row>
        <ion-row>
            <div class="statusBar">
                <img src="assets/imgs/icons/on.png">
                <span (click)="orderStatus()">
                  لديك ١ طلب قيد الإنجاز، اضغط هنا للتفاصيل
                </span>
            </div>
        </ion-row>
        <ion-row>
            <div class="title">
                <h1>
                    اختر الخدمة المطلوبة
                </h1>
                <div class="redUnderline"></div>
            </div>
        </ion-row>
        <ion-row>
            <ion-card *ngFor="let card of cardInfo">
                <ion-card-content class="ion-no-padding">
                    <ion-img [src]="card.image"></ion-img>
                    <div class="cardContent">
                        <div class="ion-float-start">
                            <h1> {{ card.title }} </h1>
                            <p> {{ card.desc1 }} </p>
                            <p> {{ card.desc2 }} </p>
                        </div>
                        <ion-icon name="alert-outline" class="ion-float-end"></ion-icon>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>